    .x {
    padding:2px;
    background-color:#eeeeee;
    }
    .a {
    padding:10px 12px;
    background-color:#eeeeee;
    }
    .v {
    padding:5px 0px 20px 40px;
    background-color:#eeeeee;
    }